body {
margin: 0%;
width: 100%;
overflow-x: hidden;
background-color: #000000;
}

.block1 {
position: relative; 
width: 100%;
}

.welck_img {
width: 100%;
align-items: center;
background-size: 100%;
display: block;
object-fit: cover;
    
}

/* .name {

position: absolute;   
width: 994.09px; 
height: 183px;
top: 37%;
left: 50%;
transform: translateX(-50%); 
} */

.name{
width: 994.09px;
height: 192.5px;
margin-top: -28%;
margin-left: 18%;
display: block; 
position: absolute; 
background: url("../img/name2.svg"); 
animation: rename 0.5s steps(2) infinite; 
}

@keyframes rename {
0% { background-position: 0px top; }
100% { background-position: -1988.18px top; }
}

.star1 {
position: absolute; 
width: 522.28px; 
height: 464.37px;   
top: -45%;
left: 60%;
/* animation: fly1 4s ease-in-out infinite; */
/* animation: fly1 4s ease-in-out infinite, star1 8s linear infinite; */
/* animation-name: fly1, star1;
animation-duration: 4s, 8s;
animation-timing-function: ease-in-out, linear;
animation-iteration-count: infinite, infinite; */

} 

@keyframes fly1 {
    0% {
        top: -45%;
        left: 60%;
    }
    50% {
        top: -25%;
        left: 50%;
    }
    100% {
        top: -45%;
        left: 60%;
    }
}
@keyframes star1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.star2 {
position: absolute; 
width: 349.61px; 
height: 476.53px;   
margin-top: -45%;
margin-left: 53%;
}

.star3 {
position: absolute; 
width: 320px; 
height: 88.87px;   
margin-top: -35%;
margin-left: 70%;
transform: rotate(-41.12deg)
}

.star4 {
position: absolute; 
width: 182.81px; 
height: 162.54px;   
margin-top: -20%;
margin-left: 80%;
}

.star5 {
position: absolute; 
width: 349.61px; 
height: 476.53px;   
margin-top: -34%;
margin-left: -1%;
}

.star6 {
position: absolute; 
width: 320px; 
height: 88.87px;   
margin-top: -14%;
margin-left: 16%;
transform: rotate(-41.12deg)
}

.star7 {
position: absolute; 
width: 320px; 
height: 88.87px;   
margin-top: -40%;
margin-left: 10%;
transform: rotate(-41.12deg)
}


